@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">File Upload</h1>
    
</div>

<div class="container my-3">
    <form method="post">
        <div class="mb-3">
            <label class="col-form-label">Upload File</label>
            <input type="file" name="file" class="form-control"/>
        </div>
        <div class="mb-3">
            <button class="btn btn-primary" type="submit">Upload</button>
        </div>
    </form>
</div>
